

a {
  color: #579B88;
}

a:hover {
  color: #3f5e55;
}
.App {
  margin: 0 auto;
}

.App-header {
  text-align: center;
  color: #13553e;
  margin: 0 auto;
  font-size: 26px;
  font-style: bold;
}

.App-footer {
  text-align: center;
}